
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px;
  box-sizing: border-box;
}
:root {
  --primary-color: #0288d1;     
  --secondary-color: #4fc3f7;   
  --background-color: #f5f7fa;  
  --text-color: #2e3a59;        
  --footer-bg: #01579b;         
  --white: #ffffff;
}


body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}