.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000d6;
  padding: 1rem 2rem;
  box-shadow: 0 4px 8px rgb(255, 255, 255);
  position: sticky;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(10px);
}

.navbar-logo a {
  font-size: 1.8rem;
  font-weight: bold;
  color: #398ec6;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-logo a:hover {
  color: #ffffff;
}

.navbar-links {
  display: flex;
  gap: 2rem;
  transition: all 0.4s ease;
}

.navbar-links a {
  text-decoration: none;
  color: #51d4ff;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #ffffff;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .navbar-links {
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(255, 254, 254);
    padding: 1rem;
    transform: translateY(-20px);
    opacity: 0;
    pointer-events: none;
  }

  .navbar-links.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }

  .navbar-toggle {
    display: flex;
  }
}
